/* 쇼핑 카테고리 & 내용 */
.prd-body{
    position: relative;
    width: 1000px;
    margin: 0px auto;
    top: -90px;
}

.prd-title {
    position: relative;
    text-align: center;
    font-size: 30px;
    color: white;
    font-family: "Gothic A1", sans-serif;
    font-weight: bolder;
    text-shadow:  3px 3px 3px black;
}

.prd-body .nav .nav-tabs{
    top: 50px;
    background-color: white;
    width: 835px;
    justify-content:center;
}
.prd-body .nav-link{
    font-family: "Gothic A1", sans-serif;
    font-size: 15px;
    font-weight: bolder;
    color: black;
} 


/* .prd-body .nav .nav-tabs{
    position: relative;
    top: 30px;
    width: 835px;
    height: 43px;
    background-color: white;
} */
